<% provide(:title, 'Sign up') %>
<h1>sign up for an artist account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@artist) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :username, "username" %> this will be your url // username.beatsrealm.com
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :artist_name, "artist name" %>
      <%= f.text_field :artist_name, class: 'form-control' %>

      <%= f.label :email, "email" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "password confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :terms_of_service, class: "checkbox inline" do %>
      <%= f.check_box :terms_of_service %>
      <span>Please accept the <%= link_to "Terms of Service", terms_of_service_url %>.</span>
      <% end %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
