<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "FAQ",   faq_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
      <li><%= link_to "Terms of Service", terms_of_service_path %></li>
      <li><%= link_to "Copyright Info", copyright_info_path %></li>
    </ul>
  </nav>
</footer>
