<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Beats Realm", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "discover", discover_path %></li>
        <% if logged_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= "#{current_artist.artist_name}" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "profile", current_artist %></li>
              <li><%= link_to "settings", edit_artist_path(current_artist) %></li>
              <li><%= link_to "log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "artist signup", artist_signup_path %></li>
          <li><%= link_to "log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
